<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
  AddType application/json .json
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /mf-autofinance/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /mf-autofinance/index.html [L]
</IfModule>